@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal; }

.rocket, .play:before {
  display: inline-block;
  font: normal normal normal 16px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0); }

.play:before {
  content: "\f0ad"; }

.rocket:before {
  content: "\f135"; }

.clearfix:after, .form__row:after, .form--inline .form__row--controls:after, .form--inline .form__row--actions:after, .media:after {
  content: "";
  display: table;
  clear: both; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.justify {
  text-align: justify; }

.float-left {
  float: left; }

.float-center {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.float-right {
  float: right; }

.no-space {
  margin: 0;
  padding: 0; }

.space {
  margin: 1.5rem; }

.space-top {
  margin-top: 1.5rem; }

.space-right {
  margin-right: 1.5rem; }

.space-btm {
  margin-bottom: 1.5rem; }

.space-left {
  margin-left: 1.5rem; }

.bg-primary {
  background-color: #38a1d6; }

.bg-secondary {
  background-color: #16f4d0; }

.bg-tertiary {
  background-color: #fcee21; }

.bg-grey {
  background-color: #a1acb5; }

.bg-grey-light {
  background-color: #dce8ef; }

.bg-grey-dark {
  background-color: #333; }

.bg-white {
  background-color: #fff; }

.text-primary {
  color: #38a1d6; }

.text-secondary {
  color: #16f4d0; }

.text-tertiary {
  color: #fcee21; }

.text-grey {
  color: #a1acb5; }

.text-grey-light {
  color: #dce8ef; }

.text-white {
  color: #fff; }

.img-center {
  display: block;
  margin: 0 auto 1.5rem 0; }

.is-uppercase {
  text-transform: uppercase; }

.hide {
  display: none;
  visibility: hidden; }

.visuallyhidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0); }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  position: static;
  margin: 0;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  @page {
    margin: 0.5cm; }

  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }

@-webkit-viewport {
  width: device-width;
  zoom: 1.0; }

@-moz-viewport {
  width: device-width;
  zoom: 1.0; }

@-ms-viewport {
  width: device-width;
  zoom: 1.0; }

@-o-viewport {
  width: device-width;
  zoom: 1.0; }

@viewport {
  width: device-width;
  zoom: 1.0; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  height: 100%; }

html {
  background: #fff;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

audio, canvas, video {
  display: inline-block; }

body {
  line-height: 1.5; }

ol, ul {
  list-style: none; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, video {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

iframe, object, embed {
  max-width: 100%; }

img {
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: border-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

html {
  font-size: 100%; }

body {
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Lato', sans-serif;
  font-weight: normal; }

h1, .h1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: .9375rem 0 .75rem 0; }
  @media screen and (min-width: 48rem) {
    h1, .h1 {
      font-size: 2.5rem;
      margin: 1.25rem 0 1rem 0; } }
  @media screen and (min-width: 64rem) {
    h1, .h1 {
      font-size: 3.375rem;
      line-height: 1.3;
      margin: 1.625rem 0 1.375rem 0; } }

h2, .h2 {
  font-size: 1.688rem;
  margin: .8125rem 0 .6875rem 0; }
  @media screen and (min-width: 48rem) {
    h2, .h2 {
      font-size: 1.875rem;
      margin: .9375rem 0 .75rem 0; } }

h3, .h3 {
  font-size: 1.688rem;
  margin: .8125rem 0 .6875rem 0; }

h4, .h4 {
  font-size: 1.5rem;
  margin: .75rem 0 .625rem 0; }

h5, .h5 {
  font-size: 1.375rem;
  margin: .6875rem 0 .5625rem 0; }

h6, .h6 {
  font-size: 1.25rem;
  margin: .625rem 0 .5rem 0; }

p {
  margin-bottom: 1.5rem; }

.font-primary {
  font-family: 'Merriweather', serif; }

.font-secondary {
  font-family: 'Lato', sans-serif; }

.lead {
  font-size: 1.125rem; }

small, .text-small, blockquote cite {
  font-size: .75rem; }

.text-muted {
  color: #a1acb5; }

strong {
  font-weight: bold; }

em, cite, dfn, var {
  font-style: italic; }

a {
  text-decoration: none;
  word-wrap: break-word;
  color: #38a1d6; }

a:hover {
  text-decoration: underline;
  color: #2a78a0; }

a img {
  border: none;
  background: none; }

a:hover img {
  border: none;
  background: none;
  opacity: 0.9;
  filter: alpha(opacity=90); }

hr {
  margin: 1.5rem auto;
  border: 0;
  border-top: .0625rem solid #a1acb5;
  border-bottom: 0 solid #fff; }

sub, sup {
  position: relative;
  margin-left: .25rem;
  font-size: 85%;
  font-weight: bold;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -.5rem; }

sub {
  bottom: -.25rem; }

abbr[title] {
  border-bottom: .0625rem dotted #333; }

mark {
  background-color: yellow;
  color: #333;
  padding: .25rem; }

blockquote {
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1.5rem;
  border-left: .25rem solid #38a1d6;
  font-family: 'Lato', sans-serif; }
  blockquote p:last-of-type {
    margin-bottom: .25rem; }
  blockquote cite {
    font-style: italic; }

figure {
  margin-bottom: 1.5rem; }

figcaption {
  padding: .5rem 0;
  font-family: 'Lato', sans-serif;
  font-size: .875rem;
  text-align: center;
  border-bottom: .0625rem solid #dce8ef; }

::-moz-selection {
  color: #fff;
  background: #38a1d6; }

::selection {
  color: #fff;
  background: #38a1d6; }

::-moz-selection {
  color: #fff;
  background: #38a1d6; }

.container {
  max-width: 71.25rem;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 80%, transparent 80%);
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 80%, transparent 80%);
  background-size: 6.32911%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
  height: 100vh; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

button, .btn, input[type="submit"] {
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: inherit;
  font-weight: normal;
  text-align: center;
  line-height: 1;
  color: #fff;
  background-color: #38a1d6;
  border: none;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out; }
  button:hover, button:focus, button:active, .btn:hover, .btn:focus, .btn:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
    color: #fff;
    text-decoration: none;
    background-color: #2f88b5; }
  button.btn--disabled, button[disabled], .btn.btn--disabled, .btn[disabled], input.btn--disabled[type="submit"], input[disabled][type="submit"] {
    cursor: not-allowed;
    opacity: .6; }

.btn--secondary {
  background-color: #16f4d0; }
  .btn--secondary:hover, .btn--secondary:focus, .btn--secondary:active {
    background-color: #12cfb0; }

.btn--tertiary {
  color: #333;
  background-color: #fcee21; }
  .btn--tertiary:hover, .btn--tertiary:focus, .btn--tertiary:active {
    color: #333;
    background-color: #d6ca1c; }

.btn--grey {
  color: #333;
  background-color: #dce8ef; }
  .btn--grey:hover, .btn--grey:focus, .btn--grey:active {
    color: #333;
    background-color: #bbc5cb; }

.btn--small {
  padding: .25rem .75rem;
  font-size: .875rem; }

.btn--large {
  padding: .5rem 1.625rem;
  font-size: 1.375rem;
  line-height: normal; }

.btn--xlarge {
  padding: .75rem 1.75rem;
  font-size: 1.375rem;
  line-height: normal; }

.btn--rounded {
  border-radius: .25rem; }

.btn--pill {
  border-radius: 3rem; }

.btn--ghost {
  color: #38a1d6;
  border: .125rem solid #38a1d6;
  background-color: transparent; }
  .btn--ghost:hover, .btn--ghost:focus, .btn--ghost:active {
    background-color: #38a1d6; }

.btn--block, input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
  display: block;
  width: 100%; }

code, kbd, pre, samp {
  font-family: Monaco, Consolas, 'Lucida Console', monospace;
  font-weight: normal;
  font-size: .875rem;
  color: #333; }

pre {
  margin: 0 0 1.5rem 0;
  padding: 1rem;
  background-color: #edf3f7;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2; }

code {
  padding: .25rem;
  background-color: #edf3f7; }

pre code {
  padding: 0;
  background-color: transparent; }

.embed-wrap {
  position: relative;
  margin: 1.5rem auto;
  padding: 1.875rem 0 56.25% 0;
  width: 100%;
  height: 0;
  overflow: hidden; }
  .embed-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

form, fieldset {
  margin-bottom: 1.5rem; }

label {
  margin-bottom: .25rem;
  display: block;
  font-family: 'Lato', sans-serif;
  cursor: pointer; }

fieldset {
  margin: 1.5rem 0;
  padding: 1.5rem;
  border: .0625rem solid #a1acb5; }

legend {
  margin: 0;
  margin-left: -.5rem;
  padding: 0 .5rem;
  display: block;
  font-family: 'Lato', sans-serif; }

.form__row, .form--inline .form__row--controls, .form--inline .form__row--actions {
  margin-bottom: 1.5rem; }

input[type="date"], input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], textarea, select {
  padding: .375rem;
  display: block;
  width: 100%;
  height: 2.375rem;
  font: inherit;
  line-height: 1.5;
  color: #333;
  border: .0625rem solid #a1acb5; }

input[type="checkbox"], input[type="image"], input[type="radio"] {
  margin-bottom: 0;
  display: inline-block;
  width: auto;
  cursor: pointer;
  vertical-align: baseline; }

textarea {
  height: 5.5rem;
  overflow: auto;
  resize: vertical; }

select {
  font-family: 'Lato', sans-serif; }

input[type="submit"] {
  width: auto;
  margin-bottom: 0; }

input:focus, select:focus, textarea:focus {
  border-color: #38a1d6;
  border-color: rgba(56, 161, 214, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-transition: border .2s linear;
          transition: border .2s linear; }

input[disabled], textarea[disabled] {
  background: #edf3f7;
  cursor: not-allowed;
  overflow: hidden;
  white-space: nowrap; }

.form--inline input, .form--inline textarea, .form--inline select {
  display: inline-block;
  width: auto; }
.form--inline label {
  display: inline-block;
  margin: 0 1rem 0 0;
  width: 6.5rem;
  text-align: right; }
.form--inline .form__row--controls, .form--inline .form__row--actions {
  margin-left: 7.5rem; }
  .form--inline .form__row--controls label, .form--inline .form__row--actions label {
    width: auto; }
.form--inline .form__row--actions {
  margin-bottom: 0; }

::-webkit-input-placeholder {
  color: #a1acb5; }

::-moz-placeholder {
  color: #a1acb5; }

:-ms-input-placeholder {
  color: #a1acb5; }

ul, ol, dl, .list {
  margin-bottom: 1.5rem;
  margin-left: 1.75rem;
  font-family: inherit;
  list-style-position: outside; }

ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0; }

ul {
  list-style: disc; }
  ul ul {
    list-style: square; }
    ul ul ul {
      list-style: circle; }

ol {
  list-style: decimal; }
  ol ol {
    list-style: upper-alpha; }
    ol ol ol {
      list-style: lower-roman; }

dl {
  margin-left: 0; }

dt {
  font-weight: bold;
  font-family: 'Lato', sans-serif; }

.list--unstyled, .pager {
  margin-left: 0;
  list-style: none; }

.list--inline {
  margin-left: 0; }
  .list--inline li {
    display: inline-block;
    margin-right: .5rem; }

.media {
  display: block;
  margin-bottom: 1.5rem; }

.media__item {
  float: left;
  margin: 0 1.5rem 1.5rem 0; }

.media__item--reversed {
  float: right;
  margin-left: 1.5rem; }

.media__item img, .media__item--reversed img {
  display: block; }

.media__body {
  overflow: hidden; }
  .media__body:last-child {
    margin-bottom: 0; }

.flag {
  display: table;
  width: 100%; }

.flag__item, .flag__body {
  display: table-cell;
  vertical-align: middle; }
  .flag--top .flag__item, .flag--top .flag__body {
    vertical-align: top; }
  .flag--bottom .flag__item, .flag--bottom .flag__body {
    vertical-align: bottom; }

.flag__item {
  padding-right: 1.5rem; }
  .flag__item > img {
    display: block;
    max-width: none; }
  .flag--reversed .flag__item {
    padding-right: 0;
    padding-left: 1.5rem; }

.flag__body {
  width: 100%; }

.pager {
  margin-bottom: 1.5rem;
  font-family: 'Lato', sans-serif;
  text-align: center; }
  .pager li {
    margin: 0 .5rem .5rem 0;
    display: inline-block; }
    .pager li:last-child {
      margin-right: 0; }
    .pager li:hover {
      background-color: #e3ecf2; }
    .pager li a {
      display: inline-block;
      padding: .25rem .75rem; }
    .pager li.pager--current {
      background-color: #38a1d6; }
      .pager li.pager--current a {
        color: #fff; }

table {
  max-width: 100%;
  width: 100%;
  margin-bottom: 1.5rem;
  border-spacing: 0;
  border-collapse: collapse;
  border: 0; }
  table th, table tfoot td {
    text-align: left;
    font-weight: 700;
    font-family: 'Lato', sans-serif; }
  table th, table td {
    padding: .625rem;
    vertical-align: top; }

.table thead > tr {
  border-bottom: .0625rem solid #dce8ef; }

.table--stripes tbody > tr:nth-child(odd) > td {
  background-color: #edf3f7; }

.table--border-rows tr {
  border-bottom: .0625rem solid #dce8ef; }

.table--border-cells th, .table--border-cells td {
  border: .0625rem solid #dce8ef; }

.table--condensed thead > tr {
  border-bottom: .0625rem solid #dce8ef; }
.table--condensed th, .table--condensed td {
  padding: .25rem; }

.table--responsive {
  overflow: auto;
  width: 100%; }

.play:before {
  padding-right: 0.5rem; }

.content {
  height: 400px;
  background-color: red; }
  @media screen and (min-width: 48rem) {
    .content {
      width: 73.68421%;
      float: left;
      margin-right: 5.26316%; } }

.sidebar {
  height: 400px;
  background-color: blue; }
  @media screen and (min-width: 48rem) {
    .sidebar {
      width: 21.05263%;
      float: right;
      margin-right: 0; } }
