//---------------------------------------------//
// 	Variables - Outline
//	all variables...
//---------------------------------------------//

// html
$html-font-base: 100%; // 16px
$font-base: 1rem; // 16px - change to font-base you require 1rem = 16px
$spacing: 1.5rem; // 24px

// Fonts
$font-primary: 'Merriweather', serif; // body font
$font-secondary: 'Lato', sans-serif; // title font
$font-monospace: Monaco, Consolas, 'Lucida Console', monospace;

// Colours
$color-primary: #38a1d6;
$color-secondary: #16f4d0;
$color-tertiary: #fcee21;
$color-white: #fff;
$color-grey: #a1acb5;
$color-grey-light: #dce8ef;
$color-grey-dark: #333;

// Placeholder text colour
$placeholder-text: $color-grey;

// Breakpoints
$mobileLandscape: 30rem; // 480px
$tablet: 40rem; // 640px
$tabletWide: 48rem; // 768px
$desktop: 64rem; // 1024px
$widescreen: 71.25rem; // 1140px



