//---------------------------------------------//
// Susy config (2.2.5)
// Docs - http://outlinecss.co.uk/get-started.html#susy
//---------------------------------------------//

$susy: (
  columns: 12,
  gutters: .25,
  gutter-position: split,
  container: $widescreen,
);

.container {
  @include container();
}