//---------------------------------------------//
// Forms - Outline
// Basic styles for form elements
//---------------------------------------------//

form,
fieldset {
  margin-bottom: $spacing;
}

label {
  display: block;
  margin-bottom: .5rem;
  cursor: pointer;
  font-family: $font-secondary;
}

fieldset {
  margin: $spacing 0;
  padding: $spacing;
  border: .0625rem solid $color-grey;
}

legend {
  display: block;
  margin: 0;
  margin-left: -.5rem;
  padding: 0 .5rem;
  font-family: $font-secondary;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea,
select {
  display: block;
  width: 100%;
  margin-bottom: $spacing;
  height: 2.375rem;
  padding: .375rem;
  font: inherit;
  line-height: 1.5;
  color: $color-grey-dark;
  border: .0625rem solid $color-grey;
}

// inputs 'inline-block' by default
input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  display: inline-block;
  width: auto;
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
  resize: vertical;
  height: 5.5rem; // roughly 3 lines in height
}

select {
  font-family: $font-secondary;
}

// extend '.btn'
input[type="submit"] {
  @extend %btn;
  width: auto;
}

input:focus,
select:focus,
textarea:focus {
  border-color: $color-primary;
  border-color: rgba($color-primary, .8);
  outline: 0;
  outline: thin dotted \9; // IE6-9
  transition: border .2s linear;
}

input[disabled],
textarea[disabled] {
  background: tint($color-grey-light, 50%);
  cursor: not-allowed;
  overflow: hidden;
  white-space: nowrap;
}

// inline form styles
.form-inline {

  .form-row {
    @extend %clearfix;
  }

  input,
  textarea,
  select {
    display: inline-block;
    width: auto;
  }

  label {
    display: inline-block;
    margin: 0 1rem 0 0;
  }
}

// Placeholder text colour
::-webkit-input-placeholder {
  color: $placeholder-text;
}

::-moz-placeholder {
  color: $placeholder-text;
}

:-ms-input-placeholder {
  color: $placeholder-text;
}