//---------------------------------------------//
// Media - Outline
// Basic styling for media object
//
// Place any image and text-like content side-by-side:
// http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
//
//  <div class="media">
//    <img class="media__img" src="/img/path-to-image.jpg" alt="Image alt text">
//    <p class="media__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
//    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
//  </div>
//
//---------------------------------------------//

.media {
  display: block;
  margin-bottom: $spacing;
  @extend %clearfix;
}

.media__img {
  float: left;
  margin: 0 $spacing $spacing 0;
}

// Reversed image - right instead of left
.media__img--reversed {
  float: right;
  margin-left: $spacing;
}

.media__img img,
.media__img--reversed img {
  display: block;
}

.media__body {
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }
}
