//---------------------------------------------//
// Tables - Outline
// Basic styles for tables
// Docs - http://outlinecss.co.uk/get-started.html#tables
//---------------------------------------------//

table {
  max-width: 100%;
  width: 100%;
  margin-bottom: $spacing;
  border-spacing: 0;
  border-collapse: collapse;
  border: 0;

  th,
  tfoot td {
    text-align: left;
    font-weight: 700;
    font-family: $font-secondary;
  }

  th,
  td {
    padding: .625rem;
    vertical-align: top;
  }
}

table,
.table {
  thead > tr {
    border-bottom: .0625rem solid $color-grey-light;
  }
}

.table--stripes {
  tbody > tr:nth-child(odd) > td {
    background-color: tint($color-grey-light, 50%);
  }
}

.table--border-rows {
  tr {
    border-bottom: .0625rem solid $color-grey-light;
  }
}

.table--border-cells {
  th,
  td {
    border: .0625rem solid $color-grey-light;
  }
}

.table--condensed {
  thead > tr {
    border-bottom: .0625rem solid $color-grey-light;
  }

  th,
  td {
    padding: .25rem;
  }
}

// responsive table container
.table--responsive {
  overflow-x: auto;
  width: 100%;
  margin-bottom: $spacing;
  -webkit-overflow-scrolling: touch;

  table {
    margin-bottom: .5rem;
  }
}
