//---------------------------------------------//
// Typography - Outline
// Set headings, font, link , hr, sub & sup,
// abbreviation, highlighting, figure
// & blockquote styles
//---------------------------------------------//

html {
  font-size: $html-font-base;
}

body {
  font-family: $font-primary;
  font-size: $font-base;
  line-height: 1.5;
  color: $color-grey-dark;
}

// font sizes calculated by modular scale - http://modularscale.com/
// pixel value is rounded up to nearest whole number

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
%h1, %h2, %h3, %h4, %h5, %h6 {
  margin-bottom: $spacing;
  padding-top: .75rem;
  font-family: $font-secondary;
  font-weight: normal;
}

h1,
.h1,
%h1 {
  font-size: 1.875rem;
  font-weight: 700;

  @include respond-min($tabletWide) {
    font-size: 2.5rem;
  }

  @include respond-min($desktop) {
    font-size: 3.375rem;
    line-height: 1.3;
  }
}

h2,
.h2,
%h2 {
  font-size: 1.688rem;

  @include respond-min($tabletWide) {
    font-size: 1.875rem;
  }
}

h3,
.h3,
%h3 {
  font-size: 1.688rem;
}

h4, h5, h6,
.h4, .h5, .h6,
%h4, %h5, %h6 {
  font-size: 1rem;
}

h4,
.h4,
%h4 {
  text-transform: uppercase;
}

p {
  margin-bottom: $spacing;
}

.font-primary,
%font-primary {
  font-family: $font-primary;
}

.font-secondary,
%font-secondary {
  font-family: $font-secondary;
}

small,
.text-small,
%text-small {
  font-size: .9375rem;
}

.text-muted {
  color: $color-grey;
}

strong {
  font-weight: bold;
}

em,
cite,
dfn,
var {
  font-style: italic;
}

// link styles
a {
  text-decoration: none;
  word-wrap: break-word;
  color: $color-primary;
}

a:hover {
  text-decoration: underline;
  color: shade($color-primary, 25%);
}

a img {
  border: none;
  background: none;
}

// prevents border/background on linked image hover
a:hover img {
  border: none;
  background: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

// lines
hr {
  margin: $spacing auto;
  border: 0;
  border-top: .0625rem solid $color-grey;
  border-bottom: 0 solid $color-white;
}

// subscript & superscript
sub,
sup {
  position: relative;
  margin-left: .25rem;
  font-size: 85%;
  font-weight: bold;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -.5rem;
}

sub {
  bottom: -.25rem;
}

// abbreviation or acronym
abbr[title] {
  border-bottom: .0625rem dotted $color-grey-dark;
}

// mark element (highlight)
mark {
  background-color: yellow;
  color: $color-grey-dark;
  padding: .25rem;
}

// blockquote
blockquote {
  margin-bottom: $spacing;
  padding-left: $spacing;
  padding-right: $spacing;
  font-style: italic;
  border-left: .25rem solid $color-primary;
}

// figure and caption
figure {
  margin-bottom: $spacing;
}

figcaption {
  padding: .5rem 0;
  font-family: $font-secondary;
  font-size: .875rem;
  text-align: center;
  border-bottom: .0625rem solid $color-grey-light;
}

// highlighting colors
::selection {
  color: $color-white;
  background: $color-primary;
}

::-moz-selection {
  color: $color-white;
  background: $color-primary;
}