//---------------------------------------------//
// Typography - Outline
// Set headings, font, link , hr, sub & sup,
// abbreviation, highlighting, figure
// & blockquote styles
// Docs - http://outlinecss.co.uk/get-started.html#typography
//---------------------------------------------//

html {
  font-size: $html-font-base;
}

body {
  font-family: $font-primary;
  font-size: $font-base;
  line-height: 1.5;
  color: $color-grey-dark;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
%h1, %h2, %h3, %h4, %h5, %h6 {
  font-family: $font-secondary;
  font-weight: normal;
}

h1,
.h1,
%h1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin-top: .9375rem;
  margin-bottom: .75rem;

  @include respond-min($tablet-wide) {
    font-size: 2.5rem;
    margin-top: 1.25rem;
    margin-bottom: 1rem;
  }

  @include respond-min($desktop) {
    font-size: 3.375rem;
    line-height: 1.3;
    margin-top: 1.625rem;
    margin-bottom: 1.375rem;
  }
}

h2,
.h2,
%h2 {
  font-size: 1.688rem;
  margin-top: .8125rem;
  margin-bottom: .6875rem;

  @include respond-min($tablet-wide) {
    font-size: 1.875rem;
    margin-top: .9375rem;
    margin-bottom: .75rem;
  }
}

h3,
.h3,
%h3 {
  font-size: 1.688rem;
  margin-top: .8125rem;
  margin-bottom: .6875rem;
}

h4,
.h4,
%h4 {
  font-size: 1.5rem;
  margin-top: .75rem;
  margin-bottom: .625rem;
}

h5,
.h5,
%h5 {
  font-size: 1.375rem;
  margin-top: .6875rem;
  margin-bottom: .5625rem;
}

h6,
.h6,
%h6 {
  font-size: 1.25rem;
  margin-top: .625rem;
  margin-bottom: .5rem;
}

p {
  margin-bottom: $spacing;
}

.font-primary,
%font-primary {
  font-family: $font-primary;
}

.font-secondary,
%font-secondary {
  font-family: $font-secondary;
}

.lead,
%lead {
  font-size: 1.125rem;
}

small,
.text-small,
%text-small {
  font-size: .75rem;
}

.text-muted {
  color: $color-grey;
}

// dealing with long words in CSS
// https://justmarkup.com/log/2015/07/31/dealing-with-long-words-in-css/
.hyphenate,
%hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

strong {
  font-weight: bold;
}

em,
cite,
dfn,
var {
  font-style: italic;
}

// link styles
a {
  text-decoration: none;
  word-wrap: break-word;
  color: $color-primary;
}

a:hover {
  text-decoration: underline;
  color: shade($color-primary, 25%);
}

a img {
  border: none;
  background: none;
}

// prevents border/background on linked image hover
a:hover img {
  border: none;
  background: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

// lines
hr {
  margin: $spacing auto;
  border: 0;
  border-top: .0625rem solid $color-grey;
  border-bottom: 0 solid #fff;
}

// subscript & superscript
sub,
sup {
  position: relative;
  margin-left: .25rem;
  font-size: 85%;
  font-weight: bold;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -.5rem;
}

sub {
  bottom: -.25rem;
}

// abbreviation or acronym
abbr[title] {
  border-bottom: .0625rem dotted $color-grey-dark;
}

// mark element (highlight)
mark {
  background-color: yellow;
  color: $color-grey-dark;
  padding: .25rem;
}

// blockquote
blockquote {
  margin-bottom: $spacing;
  padding-left: 1rem;
  padding-right: $spacing;
  border-left: .25rem solid $color-primary;
  font-family: $font-secondary;

  p:last-of-type {
    margin-bottom: .25rem;
  }

  cite {
    font-style: italic;
    @extend %text-small;
  }
}

// figure and caption
figure {
  margin-bottom: $spacing;
}

figcaption {
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-family: $font-secondary;
  font-size: .875rem;
  text-align: center;
  border-bottom: .0625rem solid $color-grey-light;
}

// highlighting colors
::selection {
  color: #fff;
  background: $color-primary;
}